body {
  background-color: #404040;
  padding: 0 10% 0 10%;
  min-height: 100%;
}
.myHeader {
  background-color: #bfbfbf;
  text-align: left;
  padding: 1em 1em 3em 1em;
}
main {
  height: auto;
  border:1px solid white;
  padding: 0em 1em 3em 1em;
}
footer {
  background-color: #bfbfbf;
  padding: 3em 1em 3em 1em;
}
.active {
  color: #ff6600;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    float: left;
    padding: 5px 0;
}
li a {
    display: block;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    background-color: black;
    padding: 5px 10px;
    color: white;
}
a:hover {
  background-color: #e6e6e6;
  color: black;
}

.apiUl li{
  padding: 5px;
  float: none;
  color: #ff6600;

}

.orangeColor{
  color: #ff6600;
}
.graph-container{
  padding: 10px 0 5px 0;
}
.graphRadioBtns{
  background-color: black;
  padding: 15px 10px 15px 10px;
}
.radioContainer{
  display: inline-block;
  padding: 0 5px 0 5px;
  color: #ff6600;
}
